/* ==========================RESET============================= */

*, *::before, *::after {
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
  margin: 0;
  padding: 0;
}

/*

h1 {
 
font-size: 6vw;
 
}
 
h2 {
 
font-size: 3vw;
 
}
 
p {
 
font-size: 2vmin;
 
}
*/


p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
  text-decoration: none;
  
}

/* =========================================================== */

/* ======================HERO BG IMG========================== */

.bg-container {
  background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('svg/fixing.svg');
  background-position: bottom right;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  animation: fadeIn;
  color: whitesmoke;
  height: 100%;
  width: 100%;
  }

  /* ========================================================== */

  /* =====================FADE IN ANIMATION==================== */

  .animate {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
  }

  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
   
    to {
      opacity: 1;
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
   
    to {
      opacity: 1;
    }
  }
   
  .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
  }
 
/* ====================FADE IN ANIMATION====================== */

/* =========================HEADER============================ */

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}


.border-line {
  animation: do 2s;
  animation-fill-mode: forwards;
  border-bottom: solid 1px white;
  content: "";
  transform: scaleX(0);
  width: 100%;
}

@keyframes do {
  100% {
    transform: scaleX(1);
  }
}

.menu {
  display: none;
}

.menu a {
  color: white;
  font-size: 1.2rem;

  
}

/* =========================================================== */

/* =======================MOBILE MENU======================= */


/* =========================================================== */

/* =========================IMAGE TEXT======================== */

.big-img-intro {
  margin: 40vh auto;
  text-align: center;
}

.big-img-intro p {
  margin: 2vh 2vw;
}

/* ====================GENERIC CONTAINER STYLES=============== */

.container {
  padding: 20vh 5vw;
}

/* =========================================================== */

/* ========================ABOUT ME=========================== */

.about-container {
  text-align: center;
}

.about-container p {
  margin: 3vh 3vw;
  text-align: left;
}

/* =========================================================== */

/* =======================SKILLS BOXES======================== */
.skills-container {
  background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('svg/desk.svg');
  background-size: cover;
  background-position: center bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: whitesmoke;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.skills {
 display: flex;
 align-items: center;
 flex-direction: column;
 margin: 5vh 0;
}

.skills p {
  margin-top: 2vh;
  text-align: left;
}

/* =======================PROJECT IMGS======================== */

.img-gal-container {
  text-align: center;
}

.img-gal-container img {
  height: auto;
  max-width: 350px;
  width: 100%;
  padding: 3vh 3vw;
}

/* =========================================================== */

/* =======================CONTACT INFO======================== */

.contact {
  align-items: center;
  background:rgba(0, 0, 0, 0.7);
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.contact h2 {
  margin-bottom: 3vh;
}


.links-list {
  list-style: none;
}

.links-list a {
  color: white;
  font-size: 1.2rem;
  line-height: 2rem;
  text-decoration: none;
}

svg {
  margin: 0 2vw;
}

/* =========================================================== */

/* =======================FOOTER STYLES======================= */


footer {
  background:rgba(0, 0, 0, 0.7);
  color: white;
  display: flex;
  flex-direction: column;
  font-size: .75rem;
  line-height: 1.2rem;
  padding: 2vh 4vw;
  
}

/* =========================================================== */

/*MEDIA QUERIES RANGES(600px, 900px, 1200px, 1800px)*/


  @media (max-width: 599px) { 

  }

  @media (min-width: 600px) {

    .bg-container {
      background-size: contain;
     
    }

    nav {
     width: 50vw;
    }
  

    .menu {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .dropdown {
      display: none;
    }

    .big-img-intro {
      max-width: 450px;
      margin-left: 8vw;
      margin-top: 20vh;
      text-align: left;
    }

    .big-img-intro p {
      margin-left: 0vw;
    }

    .skills,
    .about-container p {
      margin: 5vh auto;
      max-width: 450px;
    }

    footer {
      align-items: center;
    }


  }

  @media (min-width: 900px) {


    .big-img-intro {
      margin-top: 25vh;
    }

    header {
      flex-direction: row;
      justify-content: space-around;
      
    }

    .name {
      justify-self: left;
      flex-grow: .5;
    }

    nav {
      justify-self: right;
      width: 30vw;
    }
    
  }

  @media (min-width: 1200px) {
    .big-img-intro {
      margin-top: 40vh;
    }
 
  }

  @media (min-width: 1800px) {
    
  }
